{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <h1>{{ 'title.post_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}
        {{ form_row(form.category) }}
        {{ form_row(form.publishedAt) }}
        {{ form_row(form.subcategory) }}


{#        <div class="form-group">#}
{#            <label class="control-label required" for="post_category">SUB Категории</label>#}
{#            <select id="post_subcategory" name="post[subcategory]" required="required" class="form-control">#}
{#                <option value="" selected="selected">Select sub category 11</option>#}
{#            </select>#}
{#        </div>#}


        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_post'|trans }}
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <script>


        console.log($);


        var post_category = jQuery('#post_category');
        var htmlSubCat = '<option value="">Select SUB - category</option>';
        var path = 'subcat/'+post_category.val();

        // load if category exists
        jQuery(document).ready(function() {
            if(post_category.val().length != 0) {
                getSubCategories(path, htmlSubCat);
            }
        });

        post_category.on('change',function(){
            var path = 'subcat/'+post_category.val();
            if(post_category.val().length != 0) {
                getSubCategories(path, htmlSubCat);
            }
        });

        function getSubCategories(path, htmlSubCat) {
            jQuery.ajax(path).then(function (response) {
                if(response.length != 0) {
                    response.forEach( function( item ) {
                        htmlSubCat += '<option value="'+item.id+'">'+item.name+'</option>';
                    });
                }
                jQuery("#post_subcategory").html(htmlSubCat);
            });
        }
    </script>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#    {{ encore_entry_script_tags('jquery') }}#}
{#{% endblock %}#}
