{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <h1>{{ 'title.post_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}
        {{ form_row(form.publishedAt) }}
{#        {{ form_row(form.category) }}#}
{#        {{ form_row(form.tags) }}#}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_post'|trans }}
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        console.log('TEST');

        var post_categpry = jQuery('#post_category');
        var token = jQuery("#post__token");

        post_categpry.change(function(){
            var form = jQuery(this).closest('form');
            var data = {};
            data[token.attr('name')] = token.val();
            data[post_categpry.attr('name')] = post_categpry.val();

            jQuery.post(form.attr('action'), data).then(function (response) {
                jQuery("#post_subcategory").replaceWith(
                    jQuery(response).find("#post_subcategory")
                );
            });
        });

        console.log(post_categpry);

    </script>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
