{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block stylesheets %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
{% endblock %}

{% block main %}

    <h1>{{ 'title.post_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}
        {{ form_row(form.category) }}
        {{ form_row(form.subcategory) }}
        {{ form_row(form.image) }}
        
        <div class="form-group size-image">
            <label class="control-label" for="post_image">{{ 'label.upload.images'|trans }}</label>
            {{ form_widget(form.images, {'required':false}) }}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_post'|trans }}
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}

    <script>
        var post_category = jQuery('#post_category');
        var htmlSubCat = '<option value="">{{ 'label.select.subcategory'|trans }}</option>';
        var path = 'subcat/'+post_category.val();

        // load if category exists
        jQuery(document).ready(function() {
            if(post_category.val().length != 0) {
                getSubCategories(path, htmlSubCat);
            }
        });

        post_category.on('change',function(){
            var path = 'subcat/'+post_category.val();
            if(post_category.val().length != 0) {
                getSubCategories(path, htmlSubCat);
            }
        });

        /**
         * call ajax get subcategories
         * @param path
         * @param htmlSubCat
         */
        function getSubCategories(path, htmlSubCat) {
            jQuery.ajax(path).then(function (response) {
                if(response.length != 0) {
                    response.forEach( function( item ) {
                        htmlSubCat += '<option value="'+item.id+'">'+item.name+'</option>';
                    });
                }
                jQuery("#post_subcategory").html(htmlSubCat);
            });
        }
    </script>
{% endblock %}

{% block sidebar %}
{#    {{ parent() }}#}
{#    {{ show_source_code(_self) }}#}
{% endblock %}


