{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {% if post.imageName %}
        <div class="form-group size-image">
            <img src="{{asset('/uploads/images/' ~ post.imageName)}}" title="{{ post.title }}" alt="{{ post.title }}" />
        </div>
    {% endif %}

    {{ post.content|md2html }}

    <div class="form-group">
        <p class="m-b-0"><strong>{{ 'label.price'|trans }}: {{ post.price }} грн</strong></p>
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
    </div>

    <div class="section actions">
        <a href="{{ path('admin_post_index') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    </div>
{% endblock %}
