<div class="section list-categories-bloc">
    <div class="well well-lg">
        {% if categories is defined %}
        <ul class="cat-menu">
            {% for category in categories %}
                <li>
                    <a href="{{ path('homepage',{'get[category]': category['cat'].id, 'get[subcategory]': 0}) }}" title="{{ category['cat'].name }}">{{ category['cat'].name }}</a>
                </li>

                <ul class="subcat-menu">
                    {% for subcategory in category['subcat'] %}
                        <li>
                            <a href="{{ path('homepage',{'get[category]': category['cat'].id, 'get[subcategory]': subcategory.id}) }}" title="{{ subcategory.name }}">{{ subcategory.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
