{% extends 'base-front.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                {% if post.imageName %}
                    <li>
                        <img src="{{asset('/uploads/images/' ~ post.imageName)}}" title="{{ post.title }}" alt="{{ post.title }}" />
                    </li>
                {% endif %}

                {% if post.images|length > 0 %}
                    {% for img in post.images %}
                        <li>
                            <img src="{{asset('/uploads/images/' ~ img.name)}}" title="{{ post.title }}" alt="{{ post.title }}" />
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>
        <div class="clear"></div>
    </div>

    {{ post.content|md2html }}

    <div class="form-group">
        <p class="m-b-0"><strong>{{ 'label.price'|trans }}: {{ post.price }} грн</strong></p>
    </div>

    <div class="section actions">
        <a href="{{ path('blog_index') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    </div>

{% endblock %}

{% block sidebar %}

    {{ render_esi(controller('App\\Controller\\CategoryController::showCategories', {
        'template': 'blog/categories.html.twig',
        '_locale': app.request.locale
    })) }}

    {{ render_esi(controller('App\\Controller\\ContactController::showContactInfo', {
        'template': 'blog/contact-bloc.html.twig',
        '_locale': app.request.locale
    })) }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('jcarousel') }}
    {{ encore_entry_script_tags('jcarousel_conf') }}
{% endblock %}