{% extends 'base-front.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {% if post.imageName %}
        <div class="form-group size-image">
            <img src="{{asset('/uploads/images/' ~ post.imageName) | imagine_filter('post_show')}}" title="{{ post.title }}" alt="{{ post.title }}" />
        </div>
    {% endif %}

    {% if post.images|length > 0 %}
        <div class="form-group size-image admin-slider-show">
            {% for img in post.images %}
                <div class="col-sm-4">
                    <img src="{{asset('/uploads/images/' ~ img.name)}}" title="{{ post.title }}" alt="{{ post.title }}" />
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    {% endif %}

    {{ post.content|md2html }}

    <div class="form-group">
        <p class="m-b-0"><strong>{{ 'label.price'|trans }}: {{ post.price }} грн</strong></p>
    </div>

    <div class="section actions">
        <a href="{{ path('blog_index') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    </div>

{% endblock %}

{% block sidebar %}

    {{ render_esi(controller('App\\Controller\\CategoryController::showCategories', {
        'template': 'blog/categories.html.twig',
        '_locale': app.request.locale
    })) }}

    {{ render_esi(controller('App\\Controller\\ContactController::showContactInfo', {
        'template': 'blog/contact-bloc.html.twig',
        '_locale': app.request.locale
    })) }}

{% endblock %}
