{% extends 'base-front.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {% if post.imageName %}
        <div class="form-group size-image">
            <img src="{{asset('/uploads/images/' ~ post.imageName) | imagine_filter('post_show')}}" title="{{ post.title }}" alt="{{ post.title }}" />
        </div>
    {% endif %}

    {{ post.content|md2html }}

    <div class="form-group">
        <p class="m-b-0"><strong>{{ 'label.price'|trans }}: {{ post.price }} грн</strong></p>
    </div>

{% endblock %}

{% block sidebar %}

    {{ render_esi(controller('App\\Controller\\CategoryController::showCategories', {
        'template': 'blog/categories.html.twig',
        '_locale': app.request.locale
    })) }}

    {{ render_esi(controller('App\\Controller\\ContactController::showContactInfo', {
        'template': 'blog/contact-bloc.html.twig',
        '_locale': app.request.locale
    })) }}

{% endblock %}
